/* xxl  */
@media (max-width:1399px){
    .container{
        max-width: 1320px;
    }
}
/* xl  */
@media (max-width:1399px){
    .container{
        max-width: 1140px;
    }
}
/* lg  */
@media (max-width:1199px){
    .container{
        max-width: 960px;
    }
}
/* md  */
@media (max-width:991px){
    .container{
        max-width: 720px;
    }

    .d-md-flex{
        display: flex;
    }

    .d-md-none{
        display: none;
    }
    .row{
        row-gap: 30px;
    }
    .col-md-6{
        width: 50%;
    }
    .hero{
        height: 400px;
        width: 100%;
    }
}
/* sm  */
@media (max-width:767px){
    .container{
        max-width: 540px;
    }
}
/* xs  */
@media (max-width:575px){
    .container{
        max-width: 100%;
    }
}